for region in regions
    table(class="table")
        thead
            tr
                th Name 
                th CountryCode               
                th District     
                th Population   
                th region  
        tbody
            for city,index in citiesInRegion
                if city.Region == region
                    tr(class="rows")
                        td= city.Name 
                        td= city.CountryCode               
                        td= city.District     
                        td= city.Population                  
                        td= city.Region
                        td
                          a(href=`/edit-city/${JSON.stringify(citiesInRegion[index])}` class=`btn btn-primary` id=`edit-button`) 
                           | Edit