for country in countries
    table(class="table")
        thead
            tr
                th Name 
                th CountryCode               
                th District     
                th Population   
                th Country  
        tbody
            for city,index in citiesInCountry
                if city.Country === country
                    tr(class="rows")
                        td= city.Name 
                        td= city.CountryCode               
                        td= city.District     
                        td= city.Population                  
                        td= city.Country 
                        td
                          a(href=`/edit-city/${JSON.stringify(citiesInCountry[index])}` class=`btn btn-primary` id=`edit-button`) 
                           | Edit