for continent in continents
    table(class="table")
        thead
            tr
                th Code 
                th Name                 
                th Continent     
                th Region
                th Population
                th Capital  
        tbody
            for country in countriesInContinent
                if country.Continent === continent
                    tr(class="rows")
                        td= country.Code 
                        td= country.Name                   
                        td= country.Continent                                  
                        td= country.Region                                  
                        td(class="text-end")= country.Population                                  
                        td(class="text-end")= country.Capital