extends layouts/main-layout.pug
block content
    h1 All Contries In The World By Continent
    br
    h2 Asia
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in Asia

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 North_America
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in North_America

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 Africa
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in Africa

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 Oceania
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in Oceania

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 Antarctica
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in Antarctica

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 South_America
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in South_America

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2
    br
    h2 Europe
    table
        tr(class="table-head")
            th Code 
            th Name               
            th Continent     
            th Region                    
            th SurfaceArea 
            th IndepYear 
            th Population 
            th LifeExpectancy 
            th GNP        
            th GNPOld     
            th LocalName     
            th GovernmentForm          
            th HeadOfState
            th Capital 
            th Code2

        for country in Europe

            tr
                td= country.Code 
                td= country.Name               
                td= country.Continent     
                td= country.Region                    
                td= country.SurfaceArea 
                td= country.IndepYear 
                td= country.Population 
                td= country.LifeExpectancy 
                td= country.GNP        
                td= country.GNPOld     
                td= country.LocalName     
                td= country.GovernmentForm          
                td= country.HeadOfState 
                td= country.Capital 
                td= country.Code2