extends layouts/main-layout.pug
block content
    div(class="flex align-center justify-space-between")
        div(class="title")
            h1(class="second-title") All Cities In The World By Region
        div(id="searchtool")
            div(class="drop-down-container")
                div(class="search-setting" data-action="menu")
                    a
                        li search
                            i(class="fas fa-search")
                div(class="search-drop-down hidden" data-option="cities")
                    div(class="flex flex-dir-col")
                        div(class="input-block")
                            input(type="text" class="input" id="name"  data-value="city" placeholder="region name")
                        div(class="input-block")
                            input(type="number" class="input" id="number"  data-value="nbre_cities" min="0" max="10000" placeholder="number of cities")
                        div(class="input-block")
                            input(id="searchBtn" type="button" class="button" value="search")
    br
    for region in regions
        div(class="table-container")
            h2(class="table-head-title")= region
            br
            table
                tr(class="table-head")
                    th Name 
                    th CountryCode               
                    th District     
                    th Population   
                    th region   
                for city in citiesInRegion
                    if city.Region === region
                        tr(class="rows")
                            td= city.Name 
                            td= city.CountryCode               
                            td= city.District     
                            td= city.Population                  
                            td= city.Region                  
            br