extends layouts/main-layout.pug
block haeder_content
    h1(class="big-title") All Countries In The World By Continent

block content
    div(class="flex align-center justify-space-between")
        div(class="title")
            h1(class="second-title") All Countries In The World By Continent
        div(id="searchtool")
            div(class="drop-down-container")
                div(class="search-setting" data-action="menu")
                    a
                        li search
                            i(class="fas fa-search")
                div(class="search-drop-down hidden" data-option="continents")
                    div(class="flex flex-dir-col")
                        div(class="input-block")
                            input(type="text" class="input" id="name"  data-value="continent" placeholder="continent name")
                        div(class="input-block")
                            input(type="number" class="input" id="number"  data-value="nbre_countries" min="0" max="10000" placeholder="number of countries")
                        div(class="input-block")
                            input(id="searchBtn" type="button" class="button" value="search")
    br
    for continent in continents
        div(class="table-container")
            h2(class="table-head-title")= continent
            br
            table
                tr(class="table-head")
                    th Code 
                    th Name                 
                    th Continent     
                    th Region
                    th Population
                    th Capital    
                for country in countriesInContinent
                    if country.Continent === continent
                        tr(class="rows")
                            td= country.Code 
                            td= country.Name                   
                            td= country.Continent                                  
                            td= country.Region                                  
                            td= country.Population                                  
                            td= country.Capital                 
            br